<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="The River template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.3.4/animate.css">
<link href="plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="#">Fahmy's Group </a></div>
			<div class="ml-auto d-flex flex-row align-items-center justify-content-start">
				<nav class="main_nav">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li><a href="">Home</a></li>
						<li><a href="booking">Booking</a></li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</nav>
			   <a href="/contact.html">
				<div class="header_phone d-flex flex-row align-items-center justify-content-center">
					<img src="images/phone.png" alt="">
					<span>0183-12345678</span>
				</div>
			   </a>

				<!-- Hamburger Menu -->
				<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu trans_400 d-flex flex-column align-items-end justify-content-start">
		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="menu_content">
			<nav class="menu_nav text-right">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About us</a></li>
					<li><a href="#">Rooms</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="menu_extra">
			<div class="menu_book text-right"><a href="#">Book online</a></div>
			<div class="menu_phone d-flex flex-row align-items-center justify-content-center">
				<img src="images/phone-2.png" alt="">
				<span>0183-12345678</span>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url(/P-Img/background/1.jpg)"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_title"> New Standard Of Luxury</div>
										<div class="blog_title" style="font-size:30px  ;" >Book Direct From The Owner </div>
										<a href="/contact.html"> <button class="newsletter_button" style="background-color: lightcyan ;color: black ; ;">Contact Now</button></a>

										<div class="booking_form_container">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				

				<!-- Slide -->
				

			</div>
			
			<!-- Home Slider Dots -->
			
			
		</div>
	</div>

	<!-- Features -->

	<div class="features">
		<div class="container">
			<div class="row">
				
				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src="images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Fabulous Resort</h2></div>
						<div class="icon_box_text">
							<p>
								Located in the heart of port said, porto said’s spectacular strategic location thrives on its superb climate and spectacular sea view, 10 minutes away from portsaid.
								Porto said is located between portsaid and damietta, creating the ultimate central location.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src="images/icon_2.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Infinity Pool</h2></div>
						<div class="icon_box_text">
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
						<div class="icon_box_icon"><img src="images/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title"><h2>Luxury Apartments</h2></div>
						<div class="icon_box_text">
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse nec faucibus velit. Quisque eleifend orci ipsum, a bibendum.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Gallery -->

	<div class="gallery">
		<div class="gallery_slider_container">
			<div class="owl-carousel owl-theme gallery_slider">
				
				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(/P-Img/Include/11.jpg)"></div>
					<a class="colorbox" href="/P-Img/Include/11.jpg"></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(/P-Img/Include/2.jpg)"></div>
					<a class="colorbox" href="/P-Img/Include/2.jpg"></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(/P-Img/Include/3.jpg)"></div>
					<a class="colorbox" href="/P-Img/Include/3.jpg"></a>
				</div>

				<!-- Slide -->
				<div class="gallery_item">
					<div class="background_image" style="background-image:url(/P-Img/Include/4.jpg)"></div>
					<a class="colorbox" href="/P-Img/Include/4.jpg"></a>
				</div>

			</div>
		</div>
	</div>

	


				

	<!-- Booking -->

	<div class="booking">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="booking_title text-center"><h1 style="font-size:60px;">Book  Apartment</h1></div>
					<div class="booking_text text-center">
					</div>

					<!-- Booking Slider -->
					<div class="booking_slider_container">
						<div class="owl-carousel owl-theme booking_slider">
							
							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_1.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								
								<div class="booking_link"><a href="booking.html">Studio </a></div>
							</div>

							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_2.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								
								<div class="booking_link"><a href="booking.html">Single Room</a></div>
							</div>

							<!-- Slide -->
							<div class="booking_item">
								<div class="background_image" style="background-image:url(images/booking_3.jpg)"></div>
								<div class="booking_overlay trans_200"></div>
								
								<div class="booking_link"><a href="booking.html">Double Room</a></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">

		<!-- Blog Slider -->
		<div class="blog_slider_container">
			<div class="owl-carousel owl-theme blog_slider">
				
				<!-- Slide -->
				<div class="blog_slide">
					<div class="background_image" style="background-image:url(images/index_blog_1.jpg)"></div>
					<div class="blog_content">
						<div class="blog_date"><a href="#">Oct 20, 2018</a></div>
						<div  class="blog_title"><a  onclick="document.getElementById('id01').style.display='block'">First offer </a></div>						
					</div>
				</div>

				<!-- Slide -->
				<div class="blog_slide">
					<div class="background_image" style="background-image:url(images/index_blog_2.jpg)"></div>
					<div class="blog_content">
						<div class="blog_date"><a href="#">Oct 20, 2018</a></div>
						<div class="blog_title"><a  onclick="document.getElementById('id02').style.display='block'" >Second offer </a></div>

					</div>
				</div>

				<!-- Slide -->
				<div class="blog_slide">
					<div class="background_image" style="background-image:url(images/index_blog_3.jpg)"></div>
					<div class="blog_content">
						<div class="blog_date"><a href="#">Oct 20, 2018</a></div>
						<div class="blog_title">
							<a  onclick="document.getElementById('id03').style.display='block'" >Third offer </a>
								</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- -------------------- First Offer ------------------------------------ -->


	<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
	class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">

	<h1  style="margin: auto; ">
		Our First Offer 
	</h1>

    <div class="container2">
		<form action="/action_page.php">
			<div class="row">
			  <div class="vl">
				
			  </div>
		
			  <div class="col">
				<img src="./images/booking.jpg" alt="">
			  </div>
		
			  <div class="col">

				<ul style="font-size: 20px ;"> 
					<li>27 m² Patio</li>
					<li>Balcony with view</li>
					<li>Garden / Mountain view</li>
					<li>Flat-screen TV</li>
					<li>Air conditioning</li>
					<li>Soundproofing</li>
					<li>Private bathroom</li>
					<li>Free WiFi</li>
				</ul>
			  </div>
			  
			</div>
		  </form>
		</div>
  
  </form>
</div>




	<!-- -------------------- Second  Offer ------------------------------------ -->



	<!-- The Modal -->
	<div id="id02" class="modal">
		<span onclick="document.getElementById('id02').style.display='none'"
	 	 class="close" title="Close Modal">&times;</span>
	  
		<!-- Modal Content -->
		<form class="modal-content animate" action="/action_page.php">
	  
		  <h1  style="margin: auto; ">
			  Our Second  Offer 
		  </h1>
	  
		  <div class="container2">
			  <form action="/action_page.php">
				  <div class="row">
					<div class="vl">
					  
					</div>
			  
					<div class="col">
					  <img src="./images/booking.jpg" alt="">
					</div>
			  
					<div class="col">
	  
					  <ul style="font-size: 20px ;"> 
						  <li>27 m² Patio</li>
						  <li>Balcony with view</li>
						  <li>Garden / Mountain view</li>
						  <li>Flat-screen TV</li>
						  <li>Air conditioning</li>
						  <li>Soundproofing</li>
						  <li>Private bathroom</li>
						  <li>Free WiFi</li>
					  </ul>
					</div>
					
				  </div>
				</form>
			  </div>
		
		</form>
	  </div>

  	<!-- -------------------- Third  Offer ------------------------------------ -->



	<!-- The Modal -->
	<div id="id03" class="modal">
		<span onclick="document.getElementById('id01').style.display='none'"
	 	 class="close" title="Close Modal">&times;</span>
	  
		<!-- Modal Content -->
		<form class="modal-content animate" action="/action_page.php">
	  
		  <h1  style="margin: auto; ">
			  Our Third Offer 
		  </h1>
	  
		  <div class="container2">
			  <form action="/action_page.php">
				  <div class="row">
					<div class="vl">
					  
					</div>
			  
					<div class="col">
					  <img src="./images/booking.jpg" alt="">
					</div>
			  
					<div class="col">
	  
					  <ul style="font-size: 20px ;"> 
						  <li>27 m² Patio</li>
						  <li>Balcony with view</li>
						  <li>Garden / Mountain view</li>
						  <li>Flat-screen TV</li>
						  <li>Air conditioning</li>
						  <li>Soundproofing</li>
						  <li>Private bathroom</li>
						  <li>Free WiFi</li>
					  </ul>
					</div>
					
				  </div>
				</form>
			  </div>
		
		</form>
	  </div>




 








	<!-- Footer -->

	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_logo_container text-center">
							<div class="footer_logo">
								<a href="#"></a>
								
							</div>
						</div>
					</div>
				</div>
				<div class="row footer_row">
					
					<!-- Address -->
					<div class="col-lg-3">
						<div class="footer_title">Our Address</div>
						<div class="footer_list">
							<ul>
								<li>El Manasra</li>
								<li>Port Said Governorate</li>
							</ul>
						</div>
					</div>

					<!-- Reservations -->
					<div class="col-lg-3">
						<div class="footer_title">Reservations</div>
						<div class="footer_list">
							<ul>
								<i class="fa fa-phone" aria-hidden="true" style="width:20px  ; font-size: 20px; color: black;" >
								</i><span style="font-weight: bold ; font-size:20px ">01557033782</span></li>
								<!-- <li>Fax; 6783 4567 889</li>
								<li>reservations@hotelriver.com</li> -->
							</ul>
						</div>
					</div>

					
						<div class="newsletter_container">
							<a href="./contact.html"> 
								<button class="newsletter_button">Contact Now </button>

							</a>
						</div>
				

					<!-- Footer images -->
					<div class="col-lg-3">
						<div class="certificates d-flex flex-row align-items-start justify-content-lg-between justify-content-start flex-lg-nowrap flex-wrap">
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank"></a>
</div>
	</footer>
</div>

<script>
	// Get the modal
	var modal = document.getElementById('id01');
	var modal2 = document.getElementById('id02')
	var modal3 = document.getElementById('id03')
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}
	window.onclick = function(event) {
	  if (event.target == modal2) {
		modal2.style.display = "none";
	  }
	}
	window.onclick = function(event) {
	  if (event.target == modal3) {
		modal3.style.display = "none";
	  }
	}
	
	
	</script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>