body{
    display:flex;
}
form{
    text-align:center;
    background-color:blanchedalmond;
    border:1px solid black;
    width: 150px;;
    height:auto;
}
input{
    width:100px;
}
.form2{
    text-align:center;
    background-color:blanchedalmond;
    border:1px solid black;
    width:auto;
    height: auto;
}